h1 {
    font-weight:normal;
    font-family: 'Georgia';
    color: #494949;
  }
  
p {
  font-family: 'Space Mono', monospace;
  color: #494949;
  font-size: 1.2vw;
}

nav {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: #494949;
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem; 
}

.header { 
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  font-family: 'Space Mono', monospace;
}

main {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
}

h2 {
  font-family: 'Georgia';
  color: #494949;
  font-weight: 400;
  font-size: 2vw;
}

.description {
  margin-left: 100px;
}

.squiggle {
  margin: 60px 0px;
}

hr {
  margin-left: 100px;
  margin-right: 100px;
}

.footer {
  font-family: 'Space Mono', monospace;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

footer p {
  font-family: 'Georgia';
  margin: 1rem 0 0 0;
}

footer ul {
  margin: 0;
}

footer li {
  margin-top: 1rem;
}

.credit {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  color:  rgba(73, 73, 73, 0.32);
}

.credit p {
  color:  rgba(73, 73, 73, 0.32);
}

.heart {
  align-self: end;
}

hr {
  margin-bottom: 48px;
  margin-left: 10%;
  margin-right: 10%;
}

a {
  color: #494949;
}

.san-diego-picture {
  margin-bottom: 120px;
}

.portfolio-link {
  color:  rgba(73, 73, 73, 0.32);
}