body {
  margin: 0;
  padding: 0; }

nav {
  text-align: right; }
  nav a {
    padding-right: 3rem;
    font-size: 1.5rem;
    color: #b5b5b5;
    text-decoration: none; }
    nav a:hover {
      color: pink;
      text-decoration: underline; }

#navbarSeparator {
  background-color: lightgray;
  height: 5px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f9ccd2;
  padding-bottom: 3em;
  font-size: 1.25em; }
  footer p {
    padding: 1em; }
  footer a {
    padding: 1em; }
