/* Styles for the header section */
.header-section { 
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #494949;
    display: flex;
    justify-content: flex-end;
    column-gap: 2rem; 
}

.header-section a {
    color: #494949;
}

hr {
    margin-bottom: 48px;
    margin-left: 10%;
    margin-right: 10%;
}

/* Styles for the footer section */

.footer-navigation {
    font-family: 'Space Mono', monospace;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

footer p {
    font-family: 'Georgia';
    margin: 1rem 0 0 0;
}

.footer-navigation ul {
    margin: 0;
}

.footer-navigation li {
    margin-top: 1rem;
}

.footer-navigation a {
    color: #494949;
}

.footer-credit {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    color:  rgba(56, 55, 55, 0.692);
}

.footer-credit__portfolio-link {
    color:  rgba(56, 55, 55, 0.692);
}

.footer-credit__icon {
    align-self: end;
}