html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  text-align: right;

  // &:hover {
  // } (ignore this!)

  a {
    //padding-inline-end: 3rem;
    display: inline-block;
    padding: 2rem;
    font-size: 1.5rem;
    color: rgb(181, 181, 181);
    text-decoration: none;

    &:hover {
      color: pink;
      text-decoration: underline;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarSeparator {
  border: none;
  background-color: lightgray;
  height: 3px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(249, 204, 210);
  font-size: 1em;
  text-align: center;

  p {
    padding: 1em;
  }

  a {
    padding: 1em;
  }
}
